.sub-aside {
  background-color: var(--color-bg-quaternary);
  padding: 40px;

  h3 {
    margin: 0;
    text-transform: uppercase;
    border-bottom: 2px var(--color-text-primary) solid;
  }
  ul {
    padding:0;
    list-style-type: none;
  }
}