
.image img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-image {
  img {
    display: block;
    height: 100%;
    object-fit: cover;
    border: 15px var(--color-text-primary) solid;
  }
}